/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  
}


/* Custom CSS */
/* style.css */

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.buzzer {
  text-align: center;
  padding: 20px;
}

.btn {
  font-size: 2rem;
  width: 150px;
  height: 150px;
  background: radial-gradient(circle, #ff0000, #cc0000);
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s, transform 0.1s;
  box-shadow: 0 10px #cc0000, 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
}



